<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.js">
    <title>Document</title>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/movie/">movie</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div id="login_form" class="form" style="width:20%;margin:0 auto;text-align:left">
      <form method="POST" class="form-inline" action="/edit_movie/?nid={{result.movie_id}}/">
        <p>primaryTitle:<input type="text"  class="form-control" name="primaryTitle" value="{{result.primaryTitle}}"/></p>
        <p>originalTitle:<input type="text"  class="form-control" name="originalTitle" value="{{result.originalTitle}}"/></p>
        <p>runtimeMinutes:<input type="text"  class="form-control" name="runtimeMinutes" value="{{result.runtimeMinutes}}"/></p>
        <p>isAdult:<input type="text"  class="form-control" name="isAdult" value="{{result.isAdult}}"/></p>
        <p>releaseYear:<input type="text"  class="form-control" name="isAdult" value="{{result.releaseYear}}"/></p>
        <p>averageRating:<input type="text"  class="form-control" name="isAdult" value="{{result.averageRating}}"/></p>
        <input type="hidden" name="nid" value="{{result.movie_id}}">
        <input type="submit" value="submit"/>
        </form>
      </div>
</body>
</html>