<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.js">
</head>
<body>
    <div id="wrapper" class="login-page" method="POST" style="width:100%;text-align:left" action="/login">
        <div id="login_form" class="form" style="width:20%;margin:0 auto;text-align:left">
        <form class="login-form" method="POST" action="/login/">
        <h2>login</h2>
        <input type="text" placeholder="username" name="username" required="required" size="40" />
        <br>
        <input type="password" placeholder="password" name="password" required="required" size="40"/>
        <br>
        <!-- <input type="text" placeholder="role" name="role" required="required" size="40"/> -->
        <select class="form-control"  placeholder="role" name="role">
            <option>user</option>
            <option>admin</option>
        </select>  
        <br>
        <br>
        <input type="submit" name = "login" value="login" class="btn btn-primary">   {{msg}}
        <p class="message">No account yet? <a href="/signup/">signup</a></p>
        </form>
        </div>
        </div>

    </div>
</body>
</html>
