<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.js">
    <script src="https://kit.fontawesome.com/c601214063.js" crossorigin="anonymous"></script>
    <title>Movie</title>
    <style type="text/css">
      .like{ font: size 10px;  color:#ccc; cursor:pointer;}
      .cs{color:#f00;}

      </style>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/movie?userId={{user_id}}">movie</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" method ="POST" action="/search/">
              <div class="form-group">
                <input type="text" class="form-control" name="info" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/recommend?userId={{ user_id }}">my watchlist</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="page-header">
        <h1>MOVIE SHOW<small>Find what you like</small></h1>
      </div>
      <div class="container-fluid">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>number</th>
                <th>movie_id</th>
                <th>primaryTitle</th>
                <th>originalTitle</th>
                <th>runtimeMinutes</th>
                <th>isAdult</th>
                <th>releaseYear</th>
                <th>averageRating</th>
            </tr>
            {% for result in movie_list%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td class="success">{{result.movie_id}}</td>
                <td class="warning">{{result.primaryTitle}}</td>
                <td class="danger">{{result.originalTitle}}</td>
                <td class="info">{{result.runtimeMinutes}}</td>
                <td class="active">{{result.isAdult}}</td>
                <td class="success">{{result.releaseYear}}</td>
                <td class="warning">{{result.averageRating}}</td>
                <td>
{#                    <a href="/movie?nid={{result.movie_id}}"><i id="mylike" onclick="clicked()" class="far fa-heart"></i></a>#}
                    <a><i id="myLike{{ result.movie_id }}" onclick="clicked({{ result.movie_id}}, {{user_id }})" class="{% if result.movie_id in like_list %}fas fa-heart{%else%}far fa-heart{%endif%}"></i></a>
                    <a href="/movie_detail?nid={{result.movie_id}}"><p class="like">details</p></a>
                </td>
                </tr>
            {%endfor%}
        </thead>
    </table>
  </div>
  <script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script>
        // {#$(function () {            #}
        // {#    $(".like").click(function () {#}
        // {#        $(this).toggleClass('cs');                #}
        // {#    })#}
        // {#})#}

        function clicked(id, userId) {
            var current = document.getElementById("myLike"+id).className;
            if(current == 'far fa-heart'){
                document.getElementById("myLike"+id).className = "fas fa-heart";
                add(id, userId);
            }
            else{
                document.getElementById("myLike"+id).className = "far fa-heart";
                removie(id, userId);
            }
        }

        function add(id, userId){
          console.log("you liked the movie " + String(id));
          console.log("user id is: ", userId)
          $.ajax({
            type: 'POST',
            url: '/liked',
            data: {
              movieId: id,
              userId: userId
            },
            success: function(){
            }
          })
        }

        function removie(id, userId){
          console.log("you unliked the movie " + String(id));
          $.ajax({
            type: 'POST',
            url: '/unliked',
            data: {
              movieId: id,
              userId: userId
            },
            success: function(){
            }
          })
        }

    </script>
</body>
</html>