<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.js">
    <title>movie</title>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/movie/">movie</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">{{user.userId}}<span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" method ="POST" action="/search/">
              <div class="form-group">
                <input type="text" class="form-control" name="info" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div id="login_form" class="form" style="width:20%;margin:0 auto;text-align:left">
      <form method="POST" class="form-inline" action="/myrating/?nid={{result.movie_id}}/">
        <div class="input-group" style="width:100%;margin:0 auto;text-align:left">
            <span class="input-group-addon" id="basic-addon1">primaryTitle</span>
            <input type="text" readonly="{{result.primaryTitle}}" class="form-control" name="primaryTitle" value="{{result.primaryTitle}}"/>
        </div>
        <div class="input-group" style="width:100%;margin:0 auto;text-align:left">
            <span class="input-group-addon" id="basic-addon1">originalTitle</span>
            <input type="text" readonly="{{result.originalTitle}}" class="form-control" name="originalTitle" value="{{result.originalTitle}}"/>
        </div>
        <div class="input-group" style="width:100%;margin:0 auto;text-align:left">
            <span class="input-group-addon" id="basic-addon1">averageRating</span>
            <input type="text" readonly="{{result.averageRating}}" class="form-control" name="averageRating" value="{{result.averageRating}}"/>
        </div>
        
        <!-- <p>myRating:<input type="text"  class="form-control" name="myRating" value="{{result.myRating}}"/></p> --> 
        <div>
        <p>myRating:<select class="form-control"  placeholder="myRating" name="myRating">
            <option>10</option>
            <option>9</option>
            <option>8</option>
            <option>7</option>
            <option>6</option>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select></p>
        </div>
        <input type="hidden" name="nid" value="{{result.movie_id}}">
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
</body>
</html>